.header {
  .h-title {
    font-family: 'Bebas';
    font-size: 36px;
    text-align: center;
    letter-spacing: 5.2px;
    margin: 18px 0 8px;
  }
  .h-details-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 460px;
    justify-content: space-between;
    align-items: center;
    .h-detail {
      display: flex;
      align-items: center;
    }
    .h-detail-icon {
      font-size: 16px;
      margin-right: 8px;
    }
    .h-detail-text {
      font-size: 14px;
      font-family: 'Proxima';
    }
  }
}
