.links-wrapper {
  margin-bottom: 52px;
  .links-click {
    width: 100%;
    .d-link {
      text-align: center;
      color: #000;
      display: block;
      font-family: "Proxima";
      margin: 4px 0;
    }
  }
}
