.resume-main {
  max-width: 960px;
  margin: 10px auto;
  border: 1px solid #dadada;
  height: 120vh;
  padding: 24px;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  .resume-left {
    width: 38%;
  }
  .resume-right {
    width: 100%;
  }
}
