// Bebas Font
@font-face {
  font-family: 'Bebas';
  src: url('./fonts/bebas/BebasNeue-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Light';
  src: url('./fonts/bebas/BebasNeue-Light.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Bold';
  src: url('./fonts/bebas/BebasNeue-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Book';
  src: url('./fonts/bebas/BebasNeue-Book.ttf') format('truetype');
  font-display: swap;
}

// Proxima Font
@font-face {
  font-family: 'Proxima';
  src: url('./fonts/proxima/regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Italic';
  src: url('./fonts/proxima/italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Proxima SemiBold';
  src: url('./fonts/proxima/semibold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Bold';
  src: url('./fonts/proxima/bold.woff2') format('woff2');
  font-display: swap;
}

.App {
  font-family: 'Proxima';
  .print-button {
    font-family: Proxima;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #121212;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 1.2px;
    cursor: pointer;
    color: #fff;
    &:hover {
      background-color: #212121;
    }
  }
}
